<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ABOUT</h1>
    <a href="/">Main</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Eligendi laboriosam eum rerum cumque cupiditate beatae quo 
        odio sunt magnam facilis fugit culpa temporibus ex fugiat, 
        animi dolor aspernatur rem. Nobis velit ipsa excepturi obcaecati 
        error repudiandae laboriosam,
        placeat quas. Eum quas inventore laborum soluta iste, 
        quis architecto dolorum? Quaerat, nisi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi suscipit 
            consequatur voluptatibus! Aperiam sit similique totam rem omnis nisi itaque, 
            esse aspernatur asperiores est adipisci soluta! Quis eveniet reiciendis unde 
            dolorum beatae aspernatur omnis libero ad accusamus, nam nemo ipsam saepe debitis 
            modi fuga voluptates, perspiciatis illo dicta suscipit? Voluptas, dolor et obcaecati 
            unde libero sed fugiat ratione magni, consequatur eos nemo eum culpa? Magni quaerat
             optio hic mollitia iste, dicta itaque eum iusto dolore molestiae, molestias quidem
              fuga numquam labore quod exercitationem expedita quas porro, facere reiciendis totam. 
            Distinctio repellendus esse porro vel eaque nam quidem saepe eum tempora!</p>
</body>
</html>