<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TEXT</h1>
    <a href="/about">About</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Eligendi laboriosam eum rerum cumque cupiditate beatae quo 
        odio sunt magnam facilis fugit culpa temporibus ex fugiat, 
        animi dolor aspernatur rem. Nobis velit ipsa excepturi obcaecati 
        error repudiandae laboriosam,
        placeat quas. Eum quas inventore laborum soluta iste, 
        quis architecto dolorum? Quaerat, nisi.</p>
</body>
</html>
DB_NAME=название_базы
DB_USER=пользователь
DB_PASS=пароль
DB_HOST=localhost